<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Docking/CSS/ClientSideAPI.css")" />
<script type="text/javascript">
// <![CDATA[
    $(document).ready(function() {
        $("#PanelUID").change(
            function() {
                ShowProperties();
            }
        );
        $("#ZoneUID").change(
            function() {
                var panel = GetCurrentDockPanel();
                var zone = GetCurrentDockZone();

                if (zone)
                    panel.Dock(zone, panel.GetVisibleIndex());
                else
                    panel.MakeFloat();
            }
        );
        $("#VisibleIndex").change(
            function() {
                ChangeVisibleIndex();
            }
        );
        $("#panelVisibility").click(
            function() {
                var panel = GetCurrentDockPanel();
                panel.SetVisible($("#panelVisibility").is(':checked'));
            }
        );
    });

    function ChangeVisibleIndex() {
        var panel = GetCurrentDockPanel();
        panel.SetVisibleIndex($("#VisibleIndex").val());
    }

    function ShowProperties() {
        var panel = GetCurrentDockPanel();
        $("#ZoneUID").val(panel.IsDocked() ? panel.GetOwnerZone().zoneUID : 'none')
        $("#panelVisibility").val(panel.GetVisible());
        if(panel.GetVisible())
            $("#panelVisibility").attr("checked", "checked");
        else {
            if($("#panelVisibility").is(':checked'))
                $("#panelVisibility").removeAttr("checked");
        }
        $("#VisibleIndex").val(panel.GetVisibleIndex());
    }

    function GetCurrentDockPanel() {
        return manager.GetPanelByUID($("#PanelUID").val());
    }

    function GetCurrentDockZone() {
        return manager.GetZoneByUID($("#ZoneUID").val());
    }
// ]]>
</script>
@Html.DevExpress().DockManager(
    settings => {
        settings.Name = "manager";
        settings.ClientSideEvents.Init = "function(s, e) { ShowProperties(); }";
        settings.ClientSideEvents.AfterDock = "function(s, e) { ShowProperties(); }";
        settings.ClientSideEvents.EndPanelDragging = "function(s, e) { ShowProperties(); }";
        settings.ClientSideEvents.PanelCloseUp = "function(s, e) { ShowProperties(); }";
    }
).GetHtml()
@Html.DevExpress().DockPanel(
    settings => {
        settings.Name = "panel1";
        settings.PanelUID = "panel1";
        settings.OwnerZoneUID = "zone1";
        settings.VisibleIndex = 0;
        settings.HeaderText = "2D Pie";
        settings.FooterText = "Model: Simple";
        settings.Height = 100;
        settings.Width = 250;
        settings.ShowFooter = true;
        settings.SetContent(() => {
            ViewContext.Writer.Write(
                "<img id=\"panel1Image\" src=\"" + Url.Content("~/Content/Docking/Images/Charts/2DPie.png") + "\" alt=\"\"/>"
            );
        });
        settings.PreRender = (sender, e) => {
            ((MVCxDockPanel)sender).Styles.Content.HorizontalAlign = HorizontalAlign.Center;
        };
    }
).GetHtml()
@Html.DevExpress().DockPanel(
    settings => {
        settings.Name = "panel2";
        settings.PanelUID = "panel2";
        settings.OwnerZoneUID = "zone1";
        settings.VisibleIndex = 1;
        settings.HeaderText = "3D Bubble";
        settings.FooterText = "Model: Sphere";
        settings.Height = 100;
        settings.Width = 250;
        settings.ShowFooter = true;
        settings.SetContent(() => {
            ViewContext.Writer.Write(
                "<img id=\"panel2Image\" src=\"" + Url.Content("~/Content/Docking/Images/Charts/3DBubble.png") + "\" alt=\"\"/>"
            );
        });
        settings.PreRender = (sender, e) => {
            ((MVCxDockPanel)sender).Styles.Content.HorizontalAlign = HorizontalAlign.Center;
        };
    }
).GetHtml()
@Html.DevExpress().DockPanel(
    settings => {
        settings.Name = "panel3";
        settings.PanelUID = "panel3";
        settings.OwnerZoneUID = "zone2";
        settings.VisibleIndex = 0;
        settings.HeaderText = "3D Bar";
        settings.FooterText = "Model: Box";
        settings.Height = 100;
        settings.Width = 250;
        settings.ShowFooter = true;
        settings.SetContent(() => {
            ViewContext.Writer.Write(
                "<img id=\"panel3Image\" src=\"" + Url.Content("~/Content/Docking/Images/Charts/3DManhattanBar.png") + "\" alt=\"\"/>"
            );
        });
        settings.PreRender = (sender, e) => {
            ((MVCxDockPanel)sender).Styles.Content.HorizontalAlign = HorizontalAlign.Center;
        };
    }
).GetHtml()   
@Html.DevExpress().DockPanel(
    settings => {
        settings.Name = "panel4";
        settings.PanelUID = "panel4";
        settings.OwnerZoneUID = "zone2";
        settings.VisibleIndex = 1;
        settings.HeaderText = "2D Bubble";
        settings.FooterText = "Model: Ring";
        settings.Height = 100;
        settings.Width = 250;
        settings.ShowFooter = true;
        settings.SetContent(() => {
            ViewContext.Writer.Write(
                "<img id=\"panel4Image\" src=\"" + Url.Content("~/Content/Docking/Images/Charts/2DBubble.png") + "\" alt=\"\"/>"
            );
        });
        settings.PreRender = (sender, e) => {
            ((MVCxDockPanel)sender).Styles.Content.HorizontalAlign = HorizontalAlign.Center;
        };
    }
).GetHtml()
<div style="width: 511px; float: left;">
    @Html.DevExpress().DockZone(
        settings => {
            settings.Name = "zone1";
            settings.ZoneUID = "zone1";
            settings.ControlStyle.CssClass = "zone left";
            settings.PanelSpacing = 11;
            settings.Width = 250;
            settings.Height = 385;
        }
    ).GetHtml()
    @Html.DevExpress().DockZone(
        settings => {
            settings.Name = "zone2";
            settings.ZoneUID = "zone2";
            settings.ControlStyle.CssClass = "zone";
            settings.PanelSpacing = 11;
            settings.Width = 250;
            settings.Height = 385;
        }
    ).GetHtml()
</div>
<div class="vertOptionsPanel">
    <div>
        <label for="PanelUID" style="vertical-align: middle">Choose panel:</label>
        @Html.DropDownList("PanelUID", ClientSideAPIDemoHelper.GetPanelUIDs(), new { style = "width:100px; vertical-align: middle" })
    </div>
    <div style="float: none">
        <label for="VisibleIndex" style="vertical-align: middle">Visible index:</label>
        @Html.DropDownList("VisibleIndex", new SelectList(ClientSideAPIDemoHelper.GetVisibleIndices()), new { style = "width:100px; vertical-align: middle" })
    </div>
    <div style="float: none">
        <label for="ZoneUID" style="vertical-align: middle">Dock to:</label>
        @Html.DropDownList("ZoneUID", ClientSideAPIDemoHelper.GetZoneUIDs(), new { style = "width:100px; vertical-align: middle" })
    </div>
    <div style="float: none">
        <label for="panelVisibility" style="vertical-align: middle">Visible</label>
        @Html.CheckBox("panelVisibility", true, new { style = "vertical-align: middle" })
    </div>
</div>
