@using Coldairarrow.Entity.Sto_ProManage;
@using Coldairarrow.Util;
@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (Pro_Project)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>

            <tr>
                <th>工程编码</th>
                <td>
                    <input name="ProCode" value="@obj.ProCode" class="easyui-textbox" data-options="width:'100px',required:true">
                </td>
                <th>工程名称</th>
                <td>
                    <input name="ProName" value="@obj.ProName" class="easyui-textbox" data-options="width:'225px',required:true">
                </td>
            </tr>

            <tr>
                <th>工程地址</th>
                <td colspan="3">
                    <input name="ProAddress" value="@obj.ProAddress" class="easyui-textbox" data-options="width:'400px',required:true">
                </td>
            </tr>
            <tr>
                <th>负责人</th>
                <td>
                    <input name="ProLeader" value="@obj.ProLeader" class="easyui-textbox" data-options="width:'100px',required:true">
                </td>
                <th>创建人</th>
                <td>
                    <input name="Creator" value="@obj.Creator" class="easyui-textbox" data-options="width:'100px',required:true">
                </td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3">
                    <input name="Context" value="@obj.Context" class="easyui-textbox" data-options="width:'400px',required:true">
                </td>
            </tr>
        </tbody>
    </table>
</form>
@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    <a id="closeForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
}
<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'Sto_ProManage/Pro_Project/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.$('#dataTable').datagrid('reload');
                    parent.dialogMsg('保存成功!');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });

        $('#closeForm').click(function () {
            parent.dialogClose('form');
        });
    });
</script>
